<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style type="text/css">
            .error {
                color: red;
            }
        </style>
    </head>
<body>
    <h1>Nik's Blog</h1>

    <a href="/newpost">Write A New Post</a>
    <a href="/">Home</a>
    <a href="/blogs">All Blogs</a>
    <a href="/login">Login</a>
    <a href="/logout">Log Out</a>

    {% with messages = get_flashed_messages(with_categories=True) %}
    <ul>
    {% for category,message in messages %}
        <li class="{{category}}">{{message}}</li>
    {% endfor %}
    </ul>
    {%endwith%}
    {% block content %}


    {% endblock %}

</body>
</html>